<div class="modal-dialog modal-lg" role="document">
    <div class="revstance_modal modal-content">
        <div class="modal-body">
            <div class="container">
                <div class="check_close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <form method="post" action="/addreview" name="addReviewform" id="addReviewform" enctype="multipart/form-data">
                        <input type="hidden" name="propertyId" id="propId" value="<%=property.id%>">
                        <input type="hidden" name="property" id="propertyId" value="<%=property._id%>">

                        <div class="review-title">
                            <h2 class="edit-title text-left">Add Review</h2>
                        </div>
                        <div class="feeling-happy"></div>
                        <div class="row review-titles">
                            <div class="col-lg-12 form-group" id="addreviewres_msg"></div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <h3 class="post-title">Post review as</h3>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="guest">
                                <h3 class="post-title">
                                    <label for="btn-radio1">
                                  <span><input type="radio" name="reviewUserName" class="radio-btn" id="btn-radio1" value="0" /></span>
                                 Anonymous
                              </label>
                                </h3>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <h3 class="post-title">
                                    <label for="btn-radio2">
                                <span class="checked"><input type="radio" name="reviewUserName" class="radio-btn" id="btn-radio2" checked="checked" value="1"></span>
                                You
                              </label>
                                </h3>
                            </div>
                            <div class="col-lg-12">
                                <div class="rating_left">
                                    <h2>Rating</h2>
                                </div>
                                <div class="rating_right">
                                    <div class="review rate-us">
                                        <div class="checkinForm form-group">
                                            <div class="stars" id="modalstar">
                                                <input type="radio" name="addstar" class="star-1" id="addstar-21" value="1">
                                                <label class="star-1" for="addstar-21">1</label>
                                                <input type="radio" name="addstar" class="star-2" id="addstar-22" value="2">
                                                <label class="star-2" for="addstar-22">2</label>
                                                <input type="radio" name="addstar" class="star-3" id="addstar-23" value="3">
                                                <label class="star-3" for="addstar-23">3</label>
                                                <input type="radio" name="addstar" class="star-4" id="addstar-24" value="4">
                                                <label class="star-4" for="addstar-24">4</label>
                                                <input type="radio" name="addstar" class="star-5" id="addstar-25" value="5">
                                                <label class="star-5" for="addstar-25">5</label>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  edit-description form-group">
                            <span class="post-title">Description</span>
                            <textarea name="review_desc" id="review_desc"></textarea>
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  edit-description form-group">
                            <span class="post-title">Attach Photos</span>
                            <div class="drop_image">
                                <div class="box_drop">
                                    <h3>Drag & Drop Images Here</h3>
                                    <a href="">Or click to select a file</a>
                                </div>

                                <div class="image_success">
                                    <p>imasge<span>Success</span> </p>
                                </div>
                            </div>
                          </div>

                            <div class="col-lg-12">
                                <div class="post-review">
                                    <button type="submit" name="save" value="Submit" class="submit-category">Post Review</button>
                                </div>
                              </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>   
    