<div class="modal-dialog modal-lg" role="document">
    <div class="revstance_modal modal-content">
        <div class="modal-body">
            <div class="container">
                <div class="check_close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="row">
                    <form method="post" action="/checkin" name="checkInform" id="checkInform">
                        <input type="hidden" name="propertyId" id="propertyId" value="<%=property.id%>">
                        <input type="hidden" name="property_Id" id="property_Id" value="<%=property._id%>">
                        <div class="col-lg-12 ">
                            <div class="review-title">
                                <h2 class="edit-title text-left">Check-in</h2>
                            </div>
                        </div>
                        <div class="feeling-happy">                          

                        </div>
                          <div class="Check_profile">
                            <div class="porfile_post" style="background-image: url(/images/no-location.jpg);"></div>
                            <h3>Judy Willson</h3>
                          </div>
                          <div class="porfile_description">
                            <h4>Description Here</h4>
                          </div>
                          <div class="feeling_icon">                          
                             <div class="panel-group" id="accordion">
                              <div class="panel panel-default border-top">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Feeling</a>
                                  </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <div class="smiley_icon">
                                          <ul>
                                            <li class="feeling_post" style="background-image: url(/images/Feeling/awesome.png);">Feeling</li>
                                            <li class="feeling_post" style="background-image: url(/images/Feeling/awesome.png);">Feeling</li>
                                             <li class="feeling_post" style="background-image: url(/images/Feeling/awesome.png);">Feeling</li>
                                            <li class="feeling_post" style="background-image: url(/images/Feeling/awesome.png);">Feeling</li>
                                             <li class="feeling_post" style="background-image: url(/images/Feeling/awesome.png);">Feeling</li>
                                             <li class="feeling_post" style="background-image: url(/images/Feeling/awesome.png);">Feeling</li>
                                             <li class="feeling_post" style="background-image: url(/images/Feeling/awesome.png);">Feeling</li>
                                          <li class="feeling_post" style="background-image: url(/images/Feeling/awesome.png);">Feeling</li>
                                             <li class="feeling_post" style="background-image: url(/images/Feeling/awesome.png);">Feeling</li>
                                          </ul>
                                        </div>
                                      </div>
                                      
                                     
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Tag Friends</a>
                                  </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Photos</a>
                                  </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-12">
                            <div class="post-review">
                                <button type="submit" name="save" value="Submit" class="submit-category">Post</button>
                            </div>
                          </div>
                    </form>
                    </div>
                </div>
        </div>
        </div>
    </div>
  </div>