<!DOCTYPE html>
<html lang="en">
  <head>  
  <% include frontend/template/head %>
  </head>
  <body>
    <% include frontend/template/subnav %>
    <section class="mt-4 text-justify">
      <div class="container feed">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <% include frontend/template/error %>
            <div class="panel panel-default">
              <div class="panel-heading mb-3">
                <h3>News Feed</h3>
              </div>
              <div class="panel-body">
                <ul class="nav nav-tabs">
                  <li class="nav-item"><a href="#basic-tab1" class="nav-link active text-center" data-toggle="tab">All</a></li>
                  <li class="nav-item"><a href="#basic-tab2" class="nav-link text-center" data-toggle="tab">Following</a></li>
                </ul>

                <div class="tab-content mt-3">
                  <div class="tab-pane fade show active" id="basic-tab1">
                      <div class="card">
                        <div class="card-body">
                          <%-allactivities%>
                          <table class="table">
                            <tr>
                              <th>Type</th>
                              <th>Description</th>
                              <th>Amount</th>
                            </tr>
                          <% if(allactivities.length > 0){
                            allactivities.forEach((activity) => { %>
                            <td><%=activity.activity_type%></td>
                            <td><%=activity.user.first_name%> Submited Review to <%=activity.prop.property_name %></td>
                          <%}) }%>
                          </table>
                        </div>
                      </div>
                  </div>

                  <div class="tab-pane fade" id="basic-tab2">
                    <div class="card">
                      <div class="card-body">
                        Following Activities are display here.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/Panel Body-->
            </div>
            <!--/Panel-->
          </div>          
        </div>
      </div>
    </section>
    <% include frontend/template/subfooter %>
<script type="text/javascript">  
  $(document).ready(function(){
    $(".pagination li").click(function(){
      $("#page").val($(this).attr('data-id'));
      $("#pagination-form").submit();
    });
  })
</script>
 </body>
</html> 