<!DOCTYPE html>
<html lang="en">
  <head>
    <% include frontend/template/head %>    
  </head>
  <body>
    <!-- Navigation -->
   <% include frontend/template/nav %>
    <section id="banner">
      <div class="overlay"></div>      
      <% if(session.user.user_type==2 && session.user.status!=2){ %>
          <div class='not-approve-message'>Your Profile is being reviewed by the Revstance team. You will be notified as soon as it is approved.</div>
      <%} %>
      <div class="container">
        <div class="full-height row align-items-center">
          <div class="banner-form-div col-12">
            <form class="banner-form" action="search">
              <div class="row">
                <div class="col-md-3 location shadw">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">&nbsp;</div>
                    </div>
                    <select name="location" class="select form-control">
                      <% areas.forEach(function(property){ %>
                        <option value="<%-property%>">
                          <%-property%>
                        </option>
                        <% }); %>
                    </select>
                  </div>
                </div>
                <div class="col-md-9 search-area">
                  <div class="form-row shadw">
                    <div class="search-input">
                      <input type="search" name="keyword" class="form-control" placeholder="Search and start adding reviews">
                    </div>
                    <div class="search-btn">
                      <button type="submit" class="btn btn-block btn-lg btn-gradient btn-icon-arr btn-icon">Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section id="get-started">
      <div class="container">
        <div class="row">
          <div class="w-100 text-center"><h2 class="text-thin">It's simple to get started</h2></div>
          <div class="col-1 col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <h3 class="sec-title">Give a Review</h3>
            <img src="<%-base_url%>/frontend_assets/img/give-a-review.png" class="review-img">
          </div>
          <div class="col-2 col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <h3 class="sec-title">Get a Review</h3>
            <img src="<%-base_url%>/frontend_assets/img/get-a-review.png" class="review-img">
          </div>
        </div>
      </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="col-10 mx-auto">
              <h2 class="">We are creating an easy and transparent review platform for you!</h2>
            </div>
            <div class="col-md-6 mx-auto">
              <p>Finding great places is hard... that's why you need  genuine reviews to help guide the way! Which is where we come in...</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
   <% include frontend/template/subfooter %>  
  </body>
</html>


   
