<!DOCTYPE html>
<html lang="en">
  <head>  
  <% include frontend/template/head %>
  </head>
  <body>
    <% include frontend/template/subnav %>
    <section class="testimonial-section text-justify">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <% include frontend/template/error %>
            <h2>User Settings Page is under Construction....</h2>
            <!--/Panel-->
          </div>          
        </div>
      </div>
    </section>
    <% include frontend/template/subfooter %>
 </body>
</html> 